<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detection</title>
</head>

<style>
    body{
     background-image: url('https://wallpaperaccess.com/full/429863.jpg');
     background-repeat: no-repeat;
     height: 100%;
     width: 100%
    }

    #pred{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        margin: 0 auto;
        padding: 3% 5%;
        padding-top: 15%;
        color: rgb(0, 10, 80);
    }

</style>
<body>
        <p id="pred">{{pred}}</p>
</body>
</html>